.benner{
    background: url("https://images.pexels.com/photos/5423286/pexels-photo-5423286.jpeg?cs=srgb&dl=pexels-mariah-green-5423286.jpg&fm=jpg")no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: rgb(253, 243, 243);
}
.container{
    text-align: center;
    color: black;
}
   






 
    
